<div >

    <h1>{{_('Setup MQTT Plug')}}</h1>

    <div>

        <h2>{{_('Create new power plug')}}</h2>

        <div id="mqttPlugWizardForm">
        {% include "mqtt_plug_dialog_device.jinja2" %}

        </div>

    </div>

</div>
